.card-produto {
  max-width: 400px;
  margin: 20px;
}

.card-header-img {
  background-image: url('../../assets/img/gecami.png');
  background-size: cover;

}

.cards-produto {
  display: flex;
}
.mat-card {
  background-color: rgb(206, 18, 115);
}
