.card-produto {
  max-width: 400px;
  margin: 20px;
}

.card-header-img {
  background-image: url('../../assets/img/gecami.png');
  background-size: cover;

}

.cards-produto {
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card {
  background-color: rgb(0, 0, 0);
}

.card-actions{
  display: flex;
  justify-content: space-aroud;
  align-items: baseline;
}

.preco{
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
}
