<section class="cards-produto">
  <mat-card class="card-produto" *ngFor="let produto of produtos">

    <mat-card-header>
      <div mat-card-avatar class="card-header-img"></div>
      <mat-card-title>{{produto.nome}}</mat-card-title>
      <mat-card-subtitle> {{ produto.nome }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{produto.foto}}" alt="Foto do produto">
    <mat-card-content>
      <p>{{produto.desc}}</p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <h3 class="preco">{{produto.preco | formatoReal:'BRL'}}</h3>
      <button mat-button>Curtir</button>
      <button mat-button>Adicionar</button>
    </mat-card-actions>
  </mat-card>
</section>
