<form>
  <mat-card>
    <mat-card-title>Cadastro de produtos</mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nome">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nome">
      </mat-form-field>


    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Salvar</button>
    </mat-card-actions>

  </mat-card>

</form>
