<section class="home-promo">
  <img class="home-promo-imagem" src="{{produto.foto}}" alt="Promoção do dia">

  <span class="home-promo-conteudo">
    <h2 class="home-promo-secao">Promoção do dia</h2>
    <h1 class="home-promo-titulo">{{produto.nome}}</h1>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <h2 class="home-promo-preco">{{produto.preco | formatoReal:'BRL'}}</h2>
    <app-seletor [produto]=" produto" (eventoDeClique)="adicionarAoCarrinho($event)"></app-seletor>
    <h2 class="home-promo-titulo-desc">{{produto.desc}}</h2>
  </span>

</section>
