<section class="home-promo">
  <img class="home-promo-imagem" src="../../assets/img/cami1.png" alt="Promoção do dia">

  <span class="home-promo-conteudo">
    <h2 class="home-promo-secao">Promoção do dia</h2>
    <h1 class="home-promo-titulo">Camiseta: Você disse Pipoca?</h1>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star-checked">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <mat-icon class="star">star</mat-icon>
    <h2 class="home-promo-preco">R$ 50,59</h2>
    <app-seletor></app-seletor>
    <h2 class="home-promo-titulo-desc">Tamanhos</h2>
    <p class="home-promo-texto">PP - P - M - G</p>
  </span>

</section>
